
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #131324;
    --primary-text-color: white;
    --form-background-color: black; 
    --secondary-color: #4e0eff;
    --bg-variant-color: #997af0;
    --bg-variant-color-hover: #4e0eff;
}


body,
button,
input {
  font-family: 'Quicksand', sans-serif;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}